:root {
  --margin-main: 35px;
  --color-cinza: white;

  --color-h1-moony: #59c0b9;
  --color-h1-sunny: #04345c;

  --header-sunny: white;
  --header-moony: #162238;

  --article-sunny: var(--color-cinza);
  --article-moony: #162238;

  --button-nav-sunny: #fcaf03;
  --button-nav-moony: transparent;

  --button-nav: #fcaf03;

  --footer-sunny: #504f4f;
  --footer-moony: #162238;
}

@font-face {
  font-family: Write-font;
  src: url("../fonts/write.otf") format("OpenType");
}

@font-face {
  font-family: Hagaum;
  src: url("../fonts/gabo-titulo.otf") format("OpenType");
}

@font-face {
  font-family: Bofont;
  src: url("../fonts/Archive-Regular.otf") format("OpenType");
}

@keyframes flutuacao {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  margin: 0% !important;
  padding-top: 5%;
  background-color: black;
  background-image: url("../img/fundo.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: var( --color-h1-sunny);
}

h1 {
  font-family: Hagaum, Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-h1-sunny);
  font-size: 2.5em;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0%;
  background-color: var(--header-sunny);
  padding: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
}

header > img {
  width: 12em;
}

img.box-card {
  border-radius: 15px 15px 10px 10px;
}

#resumo {
  font-family: Write-font, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6em;
  word-spacing: 0.2em;
  color: black;
  padding: 0px 60px 30px;
  text-indent: 30px;
}

p{
    margin: 5px;
}

article {
  background-color: var(--article-sunny);
  border-radius: 120px 3px;
  margin: auto;
  margin-left: 60px;
  max-width: 70%;
}

article > h1 {
  text-align: center;
  margin: 25px 20px;
}

#align-sobremim {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin: 130px 10px 100px 20px;
  align-items: center;
}

#align-sobremim > img {
  padding: auto;
  margin: auto;
  height: 400px;
  animation: flutuacao 10s ease-in-out infinite;
}

#carrosel-projetos {
  padding: 1px 1px 1px 1px;
  background-color: var(--article-sunny);
  padding: 0px 30px 10px;
  margin: 0px 20px 30%;
  border-radius: 15px 15px 10px 10px;
}
#carrosel-projetos > h1 {
  margin: 0px 0px 30px;
  padding: 30px 0px 0px;
  font-family: Bofont, "Montserrat", sans-serif;
  letter-spacing: -0.05em;
  text-align: center;
}

.btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 1em;
  cursor: pointer;
  align-self: center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  margin: 5px 8px;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: Bofont, "Montserrat", sans-serif;
  font-size: 1.2em;
}

.btn:hover,
.btn:focus {
  color: rgba(104, 5, 5, 0.596);
  outline: 0;
}

.effect {
  border-color: #faaf28;
  color: whitesmoke;
  box-shadow: 0 0 40px 40px var(--button-nav) inset, 0 0 0 0 #faaf28;
  transition: all 150ms ease-in-out;
}

.effect:hover {
  box-shadow: 0 0 10px 0 #faaf28 inset, 0 0 10px 1px #faaf28;
}

#modoescuro {
  display: flex;
  border: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 0px 50px 50px 0px;
  position: fixed;
  top: 50%;
}

button > img {
  height: 23px;
  width: 20px;
  padding: 5px 4px 5px 0px;
}

footer {
  background-color: var(--footer-sunny);
  color: whitesmoke;
  text-align: center;
  font-family: Bofont, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px;
}

@media (max-width: 1110px) {
  #align-sobremim {
    margin: 0px;
    margin-top: 100px;
  }
  
  #background-color-article {
    background-color: var(--article-sunny);
    min-width: 100%;
    margin: 0;
    margin-bottom: 50px;
    border-radius: 0px;
  }

}

@media (max-width: 650px) {
  #align-sobremim {
    margin-top: 200px;
  }
}

@media (max-width: 450px) {
  #align-sobremim {
    margin-top: 250px;
  }
}