header{
    background-color:white;
    padding: 10px 50px 15px 40px;
    border-radius: 0px 0px 50px 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img#logomenu{
    width: 20em;
}

img#perfil{
    margin-bottom: 70px;
    width: 50%;
    height: 50%;
}

img.box-filme{
    border-radius: 15px 15px 10px 10px;
}

nav#menu > a{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 5px 5px 0px;
    padding: 0.4em;
    border-radius: 15px;
    box-shadow: 4px 4px 2px #2d1e8fcb;
}

body{
    margin: 0px;
    background-color: black;
}

div#resumo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: auto;
    padding: 50px 60px 0px 60px;
}

div#test{
    background-color: white;
}

main{
    display: flex;
    margin: 70px 0px 0px 70px;
}

article{
    background-color: white;
    border-radius: 120px 0px 120px 0px;
    padding: -50px 0px 30px 0px;
    margin-bottom: 65px;
}

article > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 4px #1a133349;
    text-align: center;
    margin: 50px 0px -20px 0px;
}

.carrosel-projetos{
    padding: 1px 1px 1px 1px;
    background-color: rgb(245, 245, 245);
    padding-bottom: 10px;
    margin: 0px 8px 0px 8px;
    border-radius: 15px 15px 10px 10px;
    
}
.carrosel-projetos > h1{
    background-color: #e8e7f39a;
    border-radius: 10px 10px 0px 0px;
    margin: 0px 0px 30px 0px;
    padding: 25px 0px 25px 0px;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 4px #1a133349;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 2em;
}